/restapi/node_modules/
/restapi/stats.db*
/webapp/node_modules/
/webapp/dist/
/restapi/secrets.js
/.vscode/
vetur.config.js
/electronapp/node_modules/
/electronapp/resources/
/electronapp/dist/
/electronapp/build/
iconTemp.svg
