{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "linebreak-style": "off",
    "operator-linebreak": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ]
  }
}
