{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/airbnb"
  ],
  "rules": {
    "linebreak-style": "off",
    "operator-linebreak": "off",
    "implicit-arrow-linebreak": "off",
    "indent": "off",
    "arrow-parens": "off",
    "no-confusing-arrow": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "vue/html-self-closing": "off",
    "vue/max-attributes-per-line": "off",
    "vue/html-indent": "off",
    "vue/html-closing-bracket-newline": "off"
  }
}
