{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "linebreak-style": "off",
    "operator-linebreak": "off",
    "implicit-arrow-linebreak": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "import/no-extraneous-dependencies": "off"
  }
}
